extends ../layout

block content
    .container
        table.table.table-hover.table-responsive
            thead
                tr 
                    th Name
                    th Username
                    th Email
                    th Role
                    th Picture
                    th Actions
                    th Delete

            tbody
                each user, i in users
                    tr
                        td #{user.name}
                        td #{user.username}
                        td #{user.email}
                        td #{user.role}
                        td
                            img.img-thumbnail(src="/uploads/profileImages/#{user.image}" width="45" height="35")
                        td 
                            .btn-group(role='group', aria-label='Basic example')
                                a.btn.btn-primary.btn-xs(href='/users/editAccount/#{user._id}')
                                    i.glyphicon.glyphicon-edit 
                                    | Edit
                                a.btn.btn-primary.btn-xs(href='/users/changePassword/#{user._id}')
                                    i.glyphicon.glyphicon-cog 
                                    | Change Password 
                                a.btn.btn-primary.btn-xs(href='/users/assignRole/#{user._id}')
                                    i.glyphicon.glyphicon-cog 
                                    | Assign Role 
                        td
                            form.form-inline(method='post', action='/users/delete/#{user._id}?_method=DELETE')
                                button.btn.btn-danger.btn-xs(type='submit') Delete

        //- script.
        //-     $('button.remove.doc').on('click', function() {
        //-     var id = $(this).attr('data-id');
        //-     $.ajax({
        //-     method: "POST",
        //-     url: "/users/delete",
        //-     data: {"id": user._id},
        //-     success: function(result) {
            
        //-     location.reload("/users/members");
        //-          }
        //-          }
        //-          )
        //-     });
